@using Microsoft.AspNetCore.Mvc.Rendering
@using Sollicitatiebeheer.Web.Features.Vacatures
@model Index.Response
@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <h3>Vacatures</h3>
    <ul>
        @foreach (var vacature in Model.Vacatures) {
            <li>@vacature</li>
        }
    </ul>

    <hr />

    @if (Model.SortOrder == "asc") {
        @Html.ActionLink("Sort descending", "Index", new Index.Request { SortOrder = "desc" })
    } else {
        @Html.ActionLink("Sort ascending", "Index", new Index.Request { SortOrder = "asc" })
    }
</div>
